<%# encoding: utf-8%>
<% random = @helper.random_string %>
<% @helper.now.each_with_index do |channel, i| %>
	<% if i>0 %>
	<li class="divider"></li>
	<% end %>
	<li class="channel" id="channel-<%= "#{random}#{channel['id']}" %>">
		<table>
			<tr>
				<td class="logo"><span class="channel_img" style="background-position:0px -<%= 50*(channel['id']-1) %>px;"></span></td>
				<td colspan="2"><a class="now show #<%= "#{random}#{channel['id']}" %>" href="<%= channel['nowLink'] %>"><%= channel['now'] %></a></td>
			</tr>
			<tr>
				<td class="time"><%= channel['nowStart'] %></td>
				<td class="progression"><div style="width:<%= channel['nowDone'] %>% " class="progressBar" id="progres-<%= channel['id'] %>"><%= channel['nowDone'] %>%</div></td>
				<td class="time bout"><%= channel['nowEnd'] %></td>
			</tr>
			<tr>
				<td class="time"><%= channel['nextStart'] %></td>
				<td colspan="2"><a class="next show #<%= "#{random}#{channel['id']}" %>" href="<%= channel['nextLink'] %>"><%= channel['next'] %></a></td>
			</tr>
			<tr>
				<td class="time"><%= channel['nextNextStart'] %></td>
				<td colspan="2"><a class="next show #<%= "#{random}#{channel['id']}" %>" href="<%= channel['nextNextLink'] %>"><%= channel['nextNext'] %></a></td>
			</tr>
		</table>
	</li>
	<li id="showDetails-<%= "#{random}#{channel['id']}" %>" class="showDetails channel"></li>
<% end %>
